[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-oom-committers
	owner = group saml/onap-gerrit-sdc-oom-committers
	read = deny group GitHub Replication
[project]
	description = Archived as per IT-20537
	state = read only
[plugin "its-jira"]
	enabled = true
